* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    background-color: #4E3400;
    text-align: center;
}

.primary-box {
    background-color: #272727;
    color: white;
}

.secondary-box {
    background-color: white;
}

.primary-box, .secondary-box {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
}

.inside-box {
    background-color:#90EEFF;
    color: grey;
    font-size: 1.1rem;
    margin-top: 1rem;
    padding: 0.5rem;
}

